In [ ]:
import pandas as pd

df=pd.read_csv("/content/drive/MyDrive/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
x=df.drop("Outcome",axis="columns")
y=df.Outcome

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)
x_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [ ]:
 from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,stratify=y,random_state=10)
x_train.shape

(576, 8)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores=cross_val_score(DecisionTreeClassifier(),x,y,cv=5)
scores.mean()

0.7071895424836601

In [ ]:
from sklearn.ensemble import BaggingClassifier

bag_model=BaggingClassifier(
     base_estimator=DecisionTreeClassifier(),
     n_estimators=100, #100 substes of training data
     max_samples=0.8,  #80 percent of the training data would be distributed in the 100 samples
     oob_score=True,    # Kuch ause samples rehte hai jo grps mai nahi include hote . Tph voh samples ko hum as a testing data use kar sakte hai to test the accuracy oof our model. Out of bag(oob) samoles arent considered as a part of our testing data but unke help se hum apne model ke accuracy ka estimate nikal sakte 
     random_state=0
 )

bag_model.fit(x_train,y_train)
print(bag_model.oob_score_)
bag_model.score(x_test,y_test)

0.7534722222222222

0.7760416666666666

In [ ]:
bag_model=BaggingClassifier(
     base_estimator=DecisionTreeClassifier(),
     n_estimators=100, #100 substes of training data
     max_samples=0.8,  #80 percent of the training data would be distributed in the 100 samples
     oob_score=True,    # Kuch ause samples rehte hai jo grps mai nahi include hote . Tph voh samples ko hum as a testing data use kar sakte hai to test the accuracy oof our model. Out of bag(oob) samoles arent considered as a part of our testing data but unke help se hum apne model ke accuracy ka estimate nikal sakte 
     random_state=0
 )

scores=cross_val_score(bag_model,x,y,cv=5)
scores
scores.mean()

0.7578728461081402

In [ ]:
from sklearn.ensemble import RandomForestClassifier

scores=cross_val_score(RandomForestClassifier(n_estimators=50),x,y,cv=5)

scores.mean()

0.7604957134368899